node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.next
out
build
dist

.git
.github
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env*
*.env.*

postgres-data
pgdata
.docker

.DS_Store
Thumbs.db
desktop.ini

README.md
CHECKLIST.md
LICENSE